@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --todo-col: rgba(160, 188, 194, 1);
    --progress-col: rgba(255, 234, 181, 1);
    --complete-col: rgba(218, 229, 208, 1);
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #FEF4DC;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

main {
    margin: auto;
    padding-top: 2em;
    height: 92vh;
    width: 95vw;
    display: flex;
    justify-content: space-between;
}

/* SIDE-BOARD DASHBOARD */

#side-board {
    width: 25%;
    height: 100%;
}

    /* header section */
#kb-board-header h1{
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 4vw;
    letter-spacing: -0.02em;
    line-height: 4vw;
}

#kb-board-header p{
    font-weight: 400;
    font-size: 1.5vw;
    margin-top: 3px;
    margin-bottom: 25px;
}

    /* date-time section */
#date-time-section {
    display: flex;
    text-align: center;
    gap:40px;
    margin-bottom: 33px;
    margin-left: 5px;
}

.date-title {
    font-weight: 400;
    font-size: 15px;
    margin: 0;
}

.date-variable{
    font-weight: 600;
    font-size: 25px;
    margin: 0;
}

#current-day{
    margin-left: 9px;
}

    /* quick stats section */
#quick-stats {
    display: flex;
    gap: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.circle-stats {
    position: relative;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background: #FFF9EA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#quickstats-subtitles{
    display: flex;
    gap: 40px;
    width: 215px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    font-style: italic;
    margin-bottom: 17px;
    margin-left: 2px;
}

#quickstats-subtitles p{
    width: 55px;
}

.statmojis {
    position: absolute;
    left: 20px;
    top: -7px;
    width: 15px;
    height: 15px;
}

    /* today's quote */

#today-mantra {
    text-align: center;
    padding-right: 30px;
}
#today-mantra p{
    font-style: italic;
    font-weight: 700;
    font-size: 1.1vw;
    margin: 0;
}

#today-mantra h3{
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    margin-bottom: 5px;
}

/* END OF SIDE-BOARD DASHBOARD */